.user-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: solid black 1px; */
  height: 50vh;
}

.screen-hor-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: black solid 1px; */
  height: 30vh;
}

.screen-ver-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.horizontal-text {
  border: black solid 1px;
} */

.vertical-text {
  transform: rotate(90deg);
  /* border: black solid 1px; */
}

/* .screen-wraper > * {
  grid-area: 1/1;
} */

/* figure {
  display: block;
  background: #cdf;
  width: 5%;
  max-width: 5em;
  box-sizing: border-box;
  margin: 1em auto;
  padding: 0.5em 1em;
  border: solid thin navy;
}

.man-icon {
  border: solid black 1px;
  text-align: center;
  width: 50;
  height: 100;
} */
